@font-face {
	font-family: 'Tahoma';
	src: url('../fonts/Tahoma.ttf');
}

body {
	background: url('../img/background.png');
	background-repeat: repeat;
	font-family: Tahoma;
	font-size: 14px;
	text-align: center;
}

.wrapper {
	background-color: #fff;
	box-shadow: 0px 3px 8px 0px rgba(3, 29, 40, 1);
	box-sizing: border-box;
	height: 988px;
	margin: auto;
	overflow: hidden;
	width: 1000px;
}

.header {
	height: 175px;
	position: relative;
}

.header::after {
	clear: both;
	content: '';
	display: block;
}

.logo {
	box-sizing: border-box;
	background: url('../img/logo.png');
	color: #128aa7;
	font-size: 12px;
	height: 164px;
	left: 37px;
	padding-top: 100px;
	padding-left: 72px;
	position: absolute;
	text-align: left;
	top: 11px;
	width: 283px;
}

.contacts {
	color: #128aa7;
	font-size: 12px;
	line-height: 16px;
	opacity: 0.8;
	position: absolute;
	right: 32px;
	text-align: left;
	top: 11px;
	width: 125px;

}

.contacts a {
	color: #128aa7;
	display: inline-block;
	text-decoration: none;
}

.countriesMenu {
	background-color: #fff;
	bottom: 10px;
	float: right;
	font-size: 9px;
	position: absolute;
	right: 30px;
	width: 350px;
}

.countriesMenu > li {
	display: inline-block;
}

.countriesMenu a {
	color: #128aa7;
	display: inline-block;
	float: right;
	height: 52px;
	text-align: center;
	text-decoration: underline;
	width: 50px;
}

.mainphoto {
	background: url('../img/photo.png');
	background-position: bottom;
	background-repeat: no-repeat;
	border-bottom: 1px solid #128aa7;
	border-top: 1px solid #128aa7;
	clear: both;
	height: 235px;
	width: 1000px;

}

.mainMenu {
	background: linear-gradient(to top, #303030, #373737);
	border-bottom: 1px solid #000;
	border-top: 1px solid #cacbcb;
	box-shadow: 0px 1px 4px 0px rgba(85, 85, 85, 1);
	height: 30px;
	position: relative;
}

.triangle {
	font-size: 6px;
}

.mainMenu>li {
	display: inline-block;
	float: left;
	height: 30px;
	margin-right: 0;
	margin-left: 47px;
	position: relative;
}

.mainMenu>li a {
	color: #fff;
	line-height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
}

.mainMenu::after {
	content: '';
	clear: both;
	display: block;
}

.submenu {
	background-color: #303030;
	border-top: 1px solid #000;
	box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
	display: none;
	position: absolute;
	top: 30px;
	width: 150px;
}

.submenu a {
	display: block;
	line-height: 30px;
	padding-left: 10px;
	text-align: left;
}

.mainMenu li:hover .submenu {
	display: block;
}

.leftColumn {
	background-color: #edeef0;
	border-left: 1px solid #c7cacf;
	border-right: 1px solid #c7cacf;
	box-sizing: border-box;
	color: #424c43;
	float: left;
	font-size: 14px;
	height: 20000px;
	line-height: 24px;
	text-align: center;
	width: 20.8%;
}

.leftColumn p {
	text-align: left;
	padding-left: 15px;
	text-wrap: nowrap;
}

.centerColumn {
	box-sizing: border-box;
	color: #424c43;
	float: left;
	font-size: 14px;
	height: 20000px;
	line-height: 24px;
	text-align: center;
	width: 58.4%;
}

.rightColumn {
	background-color: #edeef0;
	border-left: 1px solid #c7cacf;
	border-right: 1px solid #c7cacf;
	box-sizing: border-box;
	color: #424c43;
	float: right;
	font-size: 14px;
	height: 20000px;
	line-height: 24px;
	text-align: center;
	width: 20.8%;
}

.rightColumn p {
	text-align: left;
	padding-left: 15px;
}

.subheader {
	font-size: 18px;
	font-weight: bold;
	padding-top: 13px;
	padding-bottom: 5px;
	text-align: center;
}

.content::after {
	clear: both;
	content: '';
	display: block;
}

.copyright {
	color: #fff;
	font-size: 12px;
	margin-top: 12px;
	margin-bottom: 10px;
	opacity: 0.8;
}



