@font-face {
	font-family: open sans;
	src: url('../fonts/OpenSans-Regular.ttf');
}

body {
	font-family: 'open sans', sans-serif, serif;
	font-size: 13px;
	background-color: #f9f9f9;
}

.wrapper {
	background-color: white;
	margin: auto;
	padding-left:  5%;
	padding-right: 5%;
	padding-top: 50px;
	padding-bottom: 60px;
	width: 966px;
	border-left: 1px solid #dbdbdb;
	border-right: 1px solid #dbdbdb;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.headermenu {
	background: linear-gradient(to top, #444343, #5e5e5e);
	height: 40px;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 15px;
}

.headermenu li {
	display: inline-block;
	text-align: center;
	height: 40px;
	width: 144px;
	line-height: 40px;
}

.headermenu a{
	text-decoration: none;
	color: white;
	display: block;
	height: 100%;
}

.headermenu a:hover {
	background-color: #323232;
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
}

.sidebar {
	display: inline-block;
	width: 24%;
	float: left;
	border: 1px solid #c8c8c8;
	border-bottom: none;
	margin-right: 5%;
}

.sidebar li {
	height: 38px;
	border-bottom: 1px solid #c8c8c8;
	display: block;
}

.sidebar a {
	line-height: 38px;
	padding-left: 24px;
	height: 100%;
	display: block;
	text-decoration: none;
	color: #656363;
}

.sidebar a:hover {
	background-color: #f9f9f9;
	padding-left: 36px;
}

.sidebar a:focus {
	padding-left: 36px;
}

.itemphoto {
	background-image: url('../img/bicycle.jpg');
	background-repeat: no-repeat;
	background-position: center;
	height: 398px;
	border: 1px solid #c8c8c8;
	line-height:  398px;
	margin-bottom: 40px;
}

.article {
	display:  inline-block;
	width: 676px;
}

.description {
	padding-left: 25px;
	padding-right: 25px;
	margin-bottom: 63px;
	line-height: 21px;
}

.footer {
	width: 966px;
	height: 40px;
	background-color: #e1e1e1;
	line-height: 40px;
	display: inline-block;
}

.footer * {
	display: inline-block;
}

.footer li {
	display: inline-block;
	height: 40px;
	width: 144px;	
}

.footer a  {
	height: 40px;
	width: 144px;
	text-align: center;
	text-decoration: none;
	color: #2c2c2c;
}

.footer a:hover {
	text-decoration: underline;
}

.copyright {
	float: right;
	margin-right: 26px;
	color: #2c2c2c;	
}
