
body {
	background-color: #eee;
}

table {
	background-color: #fff;
	border-collapse: collapse;
	height: 750px;
	margin: auto;
	width: 650px;
}

td {
	border: 10px solid #000;
	box-sizing: border-box;
	width: 14.28%;
}

td:first-child {
	border-left: 0;
}

td:last-child {
	border-right: 0;
}

tr:first-child td {
	border-top: 0;
}

tr:last-child td {
	border-bottom: 0;
	height: 50px;
}

tr:nth-child(8)>td {
	height: 65px;
}

.double {
	height: 170px;
}

.yellow {
	background-color: #fff365;
	border-bottom: 0;
}

.red {
	background-color: #ff6034;
}

.black {
	background-color: #232323;
}

.blue {
	background-color: #094885;
}

.noBottomBorder {
	border-bottom: 0;
}

.noBorder {
	border: 10px solid #fff;
}