@font-face {
	font-family: tahoma;
	src: url('../fonts/Tahoma.ttf');
}

.background {
	margin-top: -53px;
	min-height: 883px;
	overflow: visible;
	height: 100vh;
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: tahoma;
	font-size: 10px;
	font-weight: 400;
}
.wrapper {
	width: 960px;
	margin: 0 auto;
}

.palm {
	opacity: 0.15;
	background-image: url(../img/palm-tree.png);
	width: 125px;
	height: 147px;
	position: absolute;
	margin-left: 212px;
	margin-top: 57px;
}

.logo {
	width: 263px;
	height: 37px;
	background-image: url(../img/logo.png);
	position: absolute;
	margin-top: 132px;	
	margin-left: 71px;
}

.header {
	position: absolute;
	height: 36px;
	width: 960px;
	margin-top: 152px;
}

.slogan {
	display: inline-block;
	margin-left: 155px;
	margin-top: 19px;
	height: 11px;
	color: #e6e6e6;
}

.contact {
	display: inline-block;
	margin-right: 87px;
	float: right;
	color: #e6e6e6;
	width: 84px;
}

.contact a {
	text-decoration: none;
	font-size: 8px;
	color: #e6e6e6;
}

.content {
	padding-top: 201px;
}

.toprow {
	width: 860px;
	margin: auto;
	margin-bottom: 47px;

}

.bottomrow {
	width: 860px;
	margin: auto;
	margin-bottom: 200px;

}

.india {
	background: url('../img/ramka.png') top no-repeat, 
	url('http://i.piccy.info/i9/ae9fcf4f096daaa6d0f7117bd9af6f80/1477479990/103364/1083477/india_photo.png') 5px 5px no-repeat;
}

.nepal {
	background: url('../img/ramka.png') top no-repeat, 
	url('http://i.piccy.info/i9/a192b09489e33a4f953fe4f8580ba185/1477480214/112442/1083477/nepal_photo.png') 5px 5px no-repeat;	
}

.tibet {
	background: url('../img/ramka.png') top no-repeat, 
	url('http://i.piccy.info/i9/c2179ba8cef36b5f523b604f4321007f/1477480187/106550/1083477/tibet_photo.png') 5px 5px no-repeat;
}

.bhutan {
	background: url('../img/ramka.png') top no-repeat, 
	url('http://i.piccy.info/i9/d9cf35a9afa3d38df492e0838e1d5e2c/1477480100/101594/1083477/bhutan_photo.png') 5px 5px no-repeat;
}

.sri_lanka {
	background: url('../img/ramka.png') top no-repeat, 
	url('http://i.piccy.info/i9/c065a21dbec5dd68f25ce461f9493e87/1477480084/115087/1083477/sri_lanka_photo.png') 5px 5px no-repeat;
}

.maldives {
	background: url('../img/ramka.png') top no-repeat, 
	url('http://i.piccy.info/i9/d48dc4cd08bd88760b856428d7f0a685/1477480072/96974/1083477/maldives_photo.png') 5px 5px no-repeat;
}

.cell {
	width: 270px;
	height: 187px;
	display: inline-block;
	margin-right: 9px;
	position: relative;
}

.cell a {
	color: #e6e6e6;
	display: inline-block;
	width: 100%;
	height: 100%;
}

.caption {
	position: absolute;
	color: #e6e6e6;
	font-size: 15px;
	width: 100%;
	text-align: center;
}
.caption>a {
	text-decoration: none;
}

.footer {
	width: 171px;
	height: 11px;
	color: #e6e6e6;
	font-family: Tahoma;
	font-size: 10px;
	text-align: center;
	margin: auto;
}


